body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.menu {
    width: 200px;
    background-color: #1e1e1e;
    padding: 10px;
    border-right: 1px solid #333;
}

.menu-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #333;
    color: #e0e0e0;
}

.menu-item:hover {
    background-color: #333;
}

#content {
    flex-grow: 1;
    padding: 20px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-left: 1px solid #333;
}

a {
    color: #bb86fc;
}

a:hover {
    color: #3700b3;
}

h1, h2, h3, h4, h5, h6 {
    color: #bb86fc;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

pre {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    position: relative;
}

code {
    background-color: #333;
    padding: 2px 5px;
    border-radius: 3px;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #bb86fc;
    border: none;
    color: #121212;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.copy-button:hover {
    background-color: #3700b3;
}